*, ::after, ::before {
   box-sizing: border-box;
}
body{
   margin: 0;
   padding: 0;
   background-color: rgb(255, 255, 255);
}
.twitter{
   width: 100%;
   height: 100vh;
}
.container{
   width: 1150px;
   margin: 0 auto;
   background-color: black;
}
.col-left{
   width: 25%;
}
.logo-image{
   width: 60px;
   height: 60px;
   margin-left: 24px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.logo-image:hover{
   border-radius: 50%;
   background: #0000b2;
   transition: 0.5s ease-in-out;
}
.menu-tw{
   width: 100%;
}
.link > ul > li{
   margin-bottom: 5px;
   list-style: none;
   width: 200px;
   height: 50px;
   border-radius: 30px;
   display: flex;
   justify-content: start;
   align-items: center;
} 
.link > ul > li > a{
   text-decoration: none;
   color: white;
   text-align: center;
   padding-left: 25px;
   font-size: 18px;
   font-weight: bold;
}
.link > ul > li:hover{
   background: #0000b2;
}
.link ul > li:hover a {
   color: rgb(219, 200, 200);
}
.btn-tw{
   width: 100%;
   margin-left: 35px;
}
.btn-tw > button{
    width: 200px;
    height: 50px;
    border-radius: 30px;
    background: rgb(29, 155, 240);
    font-size: 22px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.btn-tw > button:hover {
    transition: 0.5s ease-in-out;
    background: rgb(22, 113, 173);
}

.post-section{
   width: 100%;
   height: 100vh;
   overflow: scroll;
}
.post-head{
   width: 100%;
   height: 60px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid #eee;
   padding: 0 10px 0 10px;
}
.post-head span{
   font-size: 22px;
   font-weight: bold;
   color: #eee;
}
.post-head img{
   width: 30px;
   height: 30px;
}
.post-a{
   width: 100%;
   height: 150px;
   border-bottom: 1px solid #eee;
   padding: 15px;
}
.row{
   display: flex;
}
.col-centr{
   width: 50%;
}
.col-2{
   flex: 0 0 auto;
   width: 16.66666667%;
}
.awatarka img{
   width: 40px;
   height: 40px;
   margin: 0 auto;
}
.awatarka{
   width: 50px;
   height: 50px;
}
.tw__file{
   width: 104%;
   margin-top: 10px;
   margin-bottom: 50px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.icons{
   padding-top: 20px;
   padding-left: 10px;
}
.icons img{
   margin-left: 15px;
}
.tw__file> button{
   margin-right: 50px;
   width: 140px;
   height: 40px;
   background: rgb(29, 155, 240);
   outline: none;
   border: none;
   color: #fff;
   font-weight: bold;
   font-size: 18px;
   border-radius: 30px;
}
.send{
   width: 100%;
   padding-top: 10px;
}
.send > input{
   width: 100%;
   height: 30px;
}
p {
   margin-top: 0;
   margin-bottom: 1rem;
}
.post_tw {
   width: 100%;
   margin-top: 10px;
}
.post_title{
   border-bottom: 2px solid #eee;
}
.post_title p {
   font-size: 18px;
   font-weight: normal;
   color: rgb(240, 240, 240);
   margin-top: 20px;
   margin-bottom: 15px;
}
.post_p{
   margin-top: 15px;
   font-size: 18px;
   font-weight: normal;
   color: rgb(240, 240, 240);
   border-bottom: 1px solid #eee;
}
.post__option {
   width: 100%;
   margin-top: 20px;
   display: flex;
   border-bottom: 1px solid #eee;
}
.post_one{
   font-size: 20px;
   font-weight: 600;
   color: rgb(117, 117, 117);
   display: flex;
   margin-left: 20px;
}
.post_one > span{
   margin-right: 10px;
}
.post_wrapper{
   width: 100%;
   height: 280px;
}

.user__info {
   display: flex;
   align-items: center;
}
.user_name {
   display: flex;
}
.user_name span {
   font-size: 20px;
   font-weight: 600;
   color: rgb(117, 117, 117);
   margin-right: 10px;
}
.user_name p {
   font-size: 18px;
   font-weight: 600;
   color: rgb(117, 117, 117);
}
.col-right {
   flex: 0 0 auto;
   width: 25%;
}
.tends_wrapper {
   width: 100%;
   padding: 15px;
}
.search_tw {
   width: 100%;
}
.search_tw input {
   width: 100%;
   height: 50px;
   outline: none;
   border: none;
   background: #f7f9f9;
   border-radius: 30px;
   padding-left: 20px;
}
.trends_tw {
   width: 100%;
   border-radius: 15px;
   margin-top: 20px;
   background: #f7f9f9;
   padding: 20px 20px;
}
.trends_head {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 15px;
}
.trends_head span {
   font-size: 18px;
   font-weight: bold;
   color: rgb(0, 0, 0);
}
.trends_head svg {
   width: 25px;
   height: 25px;
}
.trends_tw ul {
   margin: 0;
   padding: 0;
}
.trends_tw ul li {
   padding: 0;
   list-style: none;
   margin-bottom: 10px;
}
.trends_tw ul li span {
   font-size: 14px;
   font-weight: normal;
}
.trends_tw ul li p {
   margin: 0;
   font-size: 16px;
   font-weight: bold;
   color: rgb(0, 0, 0);
}

